*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
<<<<<<< HEAD
  font-family: "Raleway", sans-serif;
=======
  font-family: Raleway, sans-serif;
>>>>>>> 090635658b74f939c3fbd25628b22468adb8824a
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
<<<<<<< HEAD
  color: inherit;    
=======
  color: inherit;
>>>>>>> 090635658b74f939c3fbd25628b22468adb8824a
}

img {
  width: 100%;
}
<<<<<<< HEAD

button {
  font: inherit;
}
=======
>>>>>>> 090635658b74f939c3fbd25628b22468adb8824a
