/* место для вашего кода */

body {  
    font-weight: 400;   
}
.section {
    padding-left: 24px;
    padding-right: 24px;
}

.header {   
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: center;
    align-items: center;  
    font-size: 18px;    
    padding: 92px 50px 96px;    
}
.header_logo {
    display: block;
    width: 148px;/*max-widt*/
    height: 105px;
}
.header_links-list {
    display: flex; 
    justify-content: space-between; 
    align-items: center;    
    list-style: circle;  
    margin-right: 37px;
}
.header_links_list-item {
    border-bottom: 1px solid #000;
}
.header_links_list-item_no-bullit {
    list-style: none;   
    border: none; 
}
.address {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    justify-self: end;   
    padding-right: 37px;/*?*/
    align-items: flex-start;
    line-height: 22px;         
}

.addres_header {
    line-height: 23px;
}
.addres_header-tel, .addres_header-email {   
    border-bottom: 2px solid #000;
    text-underline-offset: 3px;  
    white-space: nowrap;   
}

.cover {
    position: relative;   
    background-image:url(../images/cover.jpg);
    min-height: 757px;
    background-size: cover; 
    padding: 165px 50px 50px;
    margin-bottom: 180px;
}
.overlay {
    background-color: rgb(0,0,0,0.6);    
    position: absolute;
    inset: 0; 
    z-index: 1;      
}
.text-uppercase {
text-transform: uppercase;  
}
.cover__title {
position: relative;
margin-bottom: 106px;
z-index: 10;
}

.aligned-text {
    display: block;  
    font-size: 100px;
    font-weight: 700;    
    color:#fff;    
    letter-spacing: 30px;  
    line-height: 115%; 
}
.no-letter-spacing  {
    letter-spacing: 0;
}
.aligned-text_left {
    text-align: left;
    margin-bottom: 20px;
}
.aligned-text_center {
    text-align: center;
    margin-bottom: 20px; 
    margin-right: -29px;   
}
.aligned-text_right {
    text-align: right;  
}
.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative; 
    z-index: 10;   
}
.cover__description-text {
    position: relative;  
    font-size: 22px;
    color: rgb(255,255,255,1);
    line-height: 28px;
    word-spacing: 20px;  
}
.bet-button {   
    width: 256px;
    height: 51px;   
    border: 1px solid rgb(255,255,255,1);    
    background-color: transparent;   
    position: relative;  
}
.link-btn {   
    position: relative; 
    font-size: 22px;
    font-weight: 500;   
    color:rgb(255,255,255,1);    
}
.lots {   
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;     
}
.lots_heading {
    padding-left: 40px;
    text-align: left;
    margin-bottom: 27px;
    font-size: 40px;
    font-weight: 700;    
}
.lots_card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;  
    flex-wrap: wrap; 
    justify-content: space-between;     
}
.lots_card-list-item {
flex-basis: 31.7%;
align-content: space-between;
height: 596px;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");    
    padding: 48px 40px; 
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg"); 
    padding: 48px 40px;  
}
.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    padding: 48px 40px;   
}
.card {    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;     
}
.card_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    color: rgba(255,255,255,1);    
    position: relative;  
    z-index: 10;
    text-decoration: underline;
    text-underline-offset: 3px solid rgba(255,255,255,1);
}
.card_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255,255,255,1); 
    position: relative; 
    z-index: 10;    
}
.lots__look-more-link {    
    background-color: transparent;   
    border: none;  
    padding-left: 40px;  
}
.lots-btn {
text-align: left;       
font-size: 20px;
color: rgba(0,0,0,1);
border-bottom: 1px solid rgb(21, 19, 19);
text-underline-offset: 1px;    
}
.about {    
    margin-bottom: 180px; 
    display: grid;    
    column-gap: 72px;
    grid-template-columns:  auto 1fr;
}
.about-logo-backgroung {
    width: 240px;
    height: 240px;
    background-color:#000;
    border-radius: 50%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_logo_mage {
    width: 148px;    
    display: block;    
    position: absolute;       
}
.about-column_logo {
    padding-left: 47px;
    padding-top: 35px;    
}
.about-column_logo {
    display: flex;
    justify-content: center; 
}
.about_logo-img {
    display: block;
    width: 148px;
    height: 114px;
}
.about_title { 
    font-size: 40px;
    font-weight: 700;
    padding-top: 136px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
}
.about-text {
    font-size: 20px;
    display: grid;
    row-gap: 24px;
    padding-right: 24px; 
    line-height: 24px;
}
.footer {
    display: flex;
    justify-content: space-between; 
    align-items:flex-start;
    padding: 0 50px 82px 50px;  
}
.footer_links-lists {
    list-style: none;
    font-size: 18px; 
    text-align: center;  
}
.footer-link {
border-bottom: 1px solid #000 ;
text-underline-offset: 1px;  
}
.footer_social-icons {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 48px;
}
.footer_links-list {
    display: block;
    height: 48px;
    width: 48px;
}
